h1 {
    font-family: 'Lucida Sans';
}
body {
    background-color: rgb(228,239,247);
}
.navlinks a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navlinks {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 20px;
    margin: 0px;
    flex-wrap: wrap;
}
.navlinks a:hover {
    background-color: rgba(155, 132, 3, 0.879);
    color: #2c2c2c;
}
ul {
color: black;
}
header{
    background-color: rgba(250, 227, 94, 0.879);
    padding: 20px;
    display:flexbox;
}
.mycontainer {
  width:100%;
  overflow:auto;
}
.mycontainer div {
  width:33%;
  float:left;
}

.service-container {
  background-color: rgba(250, 227, 94, 0.879);
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
  display:flex
  
}
.div {
  background-color: #070101;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
footer {
    background-color: rgba(250, 227, 94, 0.879);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
button:hover {
    background-color: rgba(250, 227, 94, 0.879);
}
.service {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

